<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
</head>
<body>
    <form >
        <div>
           <h1> <%= course.title %></h1>
        </div>
        <form action="/courses/:id" class="inline" method="POST">
            <button class="float-left submit-button" >Create a new chapter</button>
        </form>
          
    </form>
</body>
</html>