<!DOCTYPE html>
<html>
  <head>
    <title>Educator Portal</title>
  </head>
  <body>
    <form action="/courses/new" class="inline">
      <button class="float-left submit-button" >Create a new course</button>
  </form>
    
    
    </main>
  </body>
</html>